.newton-gregory-differences-table {
	text-align: center;
	margin-bottom: 0.2rem;
}

.newton-gregory-differences-table hr {
	margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
    margin-right: 2px;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}